// Nova paleta de cores
$primary: #a61c1c;
$base: #6c757d;
$secondary: #ffd7b9;
$white: #EAE4D7;
$blue: #4f67b1;

// Shades (Escuro)
$primary-s1: #951919;
$primary-s2: #841616;
$primary-s3: #731313;
$base-s1: #606a71;
$base-s2: #545e65;
$base-s3: #495359;

// Tints (Claro)
$blue-s1: #96add6;
$secondary-s1: #e6c2a7;
$secondary-s2: #ccae95;
$secondary-s3: #b39a83;

// Variáveis simplificadas (sem '#')
$Sprimary: a61c1c;
$Sprimary-s1: 951919;
$Sprimary-s2: 841616;
$Sprimary-s3: 731313;

$dark: #6c757d;

@font-face {
    font-family: 'MyFont'; // Nome da fonte que será usado no CSS
    src: url('../assets/fonts/Articulatcf-light.otf') format('truetype'); // Caminho relativo à pasta SCSS
    font-weight: normal;
    font-style: normal;
  }
  

header{
    // background-color: $Sprimary;
}


body{
    background-color: $primary;
    background-image: linear-gradient(to top, rgba($primary, 1), rgba($primary, 0.77)), url('./assets/images/bg.jpg');
    // background-image: linear-gradient(to top, rgba(46, 49, 65, 0.8), rgba(46, 49, 65, 0.8)), url('./assets/images/bg.jpg');
    color: $secondary;

    span{
        color: $secondary;
    }

    a{
        color: $secondary;
    }

    h2{
        font-family: 'MyFont', sans-serif;
        color: $secondary;
    }

    .features article {
        background-color: $primary-s2;
    }

    #menu .inner{
        background: rgba($color: $primary, $alpha: .95);
    }

    section#one{
        background-color: $primary;
        &:before{
            box-shadow: inset 0 -1px 0 0 $primary, 0 1px 0 0 $primary;
            background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100' preserveAspectRatio='none'%3E%3Cpolygon points='0,100 100,0 100,100' style='fill:%23#{$Sprimary}%3B' /%3E%3C/svg%3E");
        }
    
        &:after{
            box-shadow: inset 0 -1px 0 0 $primary, 0 1px 0 0 $primary;
            background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100' preserveAspectRatio='none'%3E%3Cpolygon points='0,100 100,0 100,100' style='fill:%23#{$Sprimary}%3B' /%3E%3C/svg%3E");
        }
    }

    section#two{
        background-color: $primary-s1;
        &:before{
            box-shadow: inset 0 -1px 0 0 $primary-s1, 0 1px 0 0 $primary-s1;
            background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100' preserveAspectRatio='none'%3E%3Cpolygon points='0,100 100,0 100,100' style='fill:%23#{$Sprimary-s1}%3B' /%3E%3C/svg%3E");
        }
    
        &:after{
            box-shadow: inset 0 -1px 0 0 $primary-s1, 0 1px 0 0 $primary-s1;
            background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100' preserveAspectRatio='none'%3E%3Cpolygon points='0,100 100,0 100,100' style='fill:%23#{$Sprimary-s1}%3B' /%3E%3C/svg%3E");
        }
    }

    section#three{
        background-color: $primary-s2;
        &:before{
            box-shadow: inset 0 -1px 0 0 $primary-s2, 0 1px 0 0 $primary-s2;
            background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100' preserveAspectRatio='none'%3E%3Cpolygon points='0,100 100,0 100,100' style='fill:%23#{$Sprimary-s2}%3B' /%3E%3C/svg%3E");
        }
    
        &:after{
            box-shadow: inset 0 -1px 0 0 $primary-s2, 0 1px 0 0 $primary-s2;
            background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100' preserveAspectRatio='none'%3E%3Cpolygon points='0,100 100,0 100,100' style='fill:%23#{$Sprimary-s2}%3B' /%3E%3C/svg%3E");
        }
    }

    section#four{
        background-color: $primary-s3;
        &:before{
            box-shadow: inset 0 -1px 0 0 $primary-s3, 0 1px 0 0 $primary-s3;
            background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100' preserveAspectRatio='none'%3E%3Cpolygon points='0,100 100,0 100,100' style='fill:%23#{$Sprimary-s3}%3B' /%3E%3C/svg%3E");
        }
    
        &:after{
            box-shadow: inset 0 -1px 0 0 $primary-s3, 0 1px 0 0 $primary-s3;
            background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100' preserveAspectRatio='none'%3E%3Cpolygon points='0,100 100,0 100,100' style='fill:%23#{$Sprimary-s3}%3B' /%3E%3C/svg%3E");
        }
    }

    
}